.started-message {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;

  p {
    font-size: 1.8rem;
    font-weight: 600;
    color: #444;
  }
}

.car-detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &-box_info {
    height: 80%;

    border-bottom: 1px solid #bbb;

    .car-image-box {
      width: 100%;
      height: 40rem;

      .car-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .car-info {
      color: #444;
      background-color: #fff;
      color: #000;
      width: 100%;
      height: 8rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 3rem;

      &_left {
        display: flex;
        height: 100%;
        gap: 3rem;

        .car {
          display: flex;
          gap: 1rem;
          // margin-top: 2rem;
          align-items: center;
          justify-content: center;

          .car-icon {
            color: #444;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .car-text {
            font-weight: 700;
            color: 444px;
          }
        }
      }
    }

    .car-info-description {
      color: #444;
      background-color: #fff;
      display: flex;
      flex-direction: column;

      .description-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 3rem;

        h4 {
          font-weight: 500;
          font-size: 1.6rem;
        }
      }

      .description-text {
        font-size: 1.4rem;
        color: #444;

        padding: 1rem 4rem;
        line-height: 1.6;
      }
    }
  }

  .save-btn {
    background-color: #f1f1f1;
    border: none;
    font-size: 2.6rem;
    color: #444;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-box_comments {
    height: 40%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .comment-title {
      color: #444;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0;
      h4 {
        font-weight: 500;
        font-size: 1.6rem;
      }
    }

    .comment-form {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      input {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: #f1f1f1;

        &:focus {
          outline: none;
        }
      }

      .name {
        width: 20%;
      }
      .comment {
        width: 40%;
      }
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.4s;
        color: #444;

        &:hover {
          background-color: #bbb;
        }
      }
    }
  }
}

.all-comments {
  background-color: #fff;
  height: 10rem;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
