.comments-card {
  min-width: 20rem;

  background-color: #f1f1f1;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;

  @media only screen and (max-width: 50rem) {
    min-width: 15rem;
  }
  @media only screen and (max-width: 35rem) {
    min-width: 10rem;
  }
}

.comment-card-content {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}
span {
  font-weight: 600;
  font-size: 1.4rem;
}

.comment-card-content-comment {
  text-align: center;
  line-height: 1.2;
}
