.search-bar {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 80%;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);

    &:focus {
      outline: none;
    }
  }
}
